#header {

}

#header .metadataHeader {
    display: inline-block;
    font-size:120%;
    white-space: nowrap;
    color:#e4e4e4;
    padding-top:15px;
    line-height:50px;
    margin-left:10px;
    font-weight: bold;
    text-transform: uppercase;
}


#header .banner {
    background: linear-gradient(-46deg,#eb001b 0%,#a51c30 100%);
    color: #ffffff;
    height:65px;
    padding-right:20px;
    padding-left:20px;
}

#header .logo {
    padding-left:10px;
}

#header .logo h1 {
    font-family: "Trueno";
    font-size: 42px;
    vertical-align: top;
    padding-left: 10px;
    padding-top:20px;
}










