/*#textsms {
   padding:5px;
   cursor: pointer;
   z-index:10;
   font-weight: 300;
}
#textsms _md-nav-button-text md-icon svg  {
   color:rgba(58,58,58,.8)
}

#textsms .row {
    text-align: center;
    cursor: pointer;
}

#textsms .button-text {
    font-size:10px;
    line-height:14px;
    font-weight:600;
    cursor: pointer;
}

#textsms:hover {
    background:#e1e1e1;
    color:rgba(58,58,58,.8)
}


#textsms .row:hover {
    background:#e1e1e1;
    color:rgba(58,58,58,.8)
}

.pointer {
    cursor: pointer;
}

*/
