/* body font-family tweak b/c Firefox not rendering diacritics properly with OTB Google Font Source Sans Pro -- CB 20180807, eg Urdu title 990093740090203941 */
body {
    font-family:Source Sans Pro,Arial,sans-serif;
   }

/* Application background (from LG @ BC)*/

body,
prm-brief-result-container .list-item-primary-content,
.full-view-inner-container,
md-content,
md-content.md-primoExplore-theme {
    background-color: #FFFFFF;
}

prm-brief-result-container .list-item-primary-content:before {
    background-color: #F3F3F3;
}
md-backdrop.md-opaque {
    background: rgba(56,56,61);
}
md-backdrop.md-opaque {
    opacity: .7;
}
/* changing size of flexes to increase width for facets */
@media (max-width: 1919px) and (min-width: 1280px) {
    prm-facet .primo-scrollbar {
        width:auto;
    }
    prm-search .flex-lg-5, prm-search .layout-row>.flex-lg-5 {
        flex: 1 1 0%;
        max-width: 0%;
    }
    prm-search .flex-lg-20, prm-search .layout-lg-row>.flex-lg-20, prm-search .layout-row>.flex-lg-20 {
        -ms-flex: 1 1 30%;
        flex: 1 1 30%;
        max-width: 30%;
    }
}

/* end app background */
/* home page */
.md-headline {
    font-weight:400;
}
md-card.default-card {
    box-shadow;1px 1px 0px 1px rgba(0,0,0,.03), 0px 5px 5px -3px rgba(0,0,0,.07)
    padding-bottom: 10px;
}
/*** note - 
this is the OTB blue of the search result title #44707b
this is the blue of the home page link AA compliant over light grey: #026DB9
portal basic link: #0579b8 
 */

/* for background of overlay menu from top nav ... */
/*md-content.md-primoExplore-theme md-dialog.light-on-dark-dialog {
    background-color: rgba(56,56,61,.5);
 }*/
 md-content.overlay-menu-content {
    background-color: rgba(56,56,61,.7);
}
md-content.overlay-menu-content span.md-headline {
    text-transform:none;
}
md-content.overlay-menu-content span.md-subhead {
    display:none;
}

md-card-title-text .alumhat {
    width: 30px;
    opacity: 0.5;
    display: inline;
    vertical-align: bottom;    
}
/* my favorites global action icons disabled */
prm-favorites-tool-bar .disabledFavTool {
    color: #695F5F;
}
prm-favorites-edit-labels-menu .disabledFavTool {
    color: #695F5F;
}
prm-favorites-tool-bar .toolbar-item {
    margin-left:20px;
    margin-right:10px;
}
prm-favorites-tool-bar #prm_unpin {
    color:red;
}
/* prm-favorites-tool-bar button.unpin-button::after { 
    content: "!";
} */
/* alert bar e.g. sign in prompt above results */
.bar.alert-bar {
    letter-spacing: 1px;
    background-color: #f1f1f1;
    border-color:#ebe9e9;
}
.bar prm-authentication .md-button {
    color: #026DB9;
    font-weight:bold;
    padding-bottom: 1px;
}
.bar.alert-bar span.bar-text {
    background-color: #d9d7f5;
    border: 1px solid #6558d2;
    padding: 7px 15px;
}

prm-personalize-results-button md-switch ._md-thumb:before {
    border: 1px solid #44707b;
}
prm-search-result-list prm-personalize-results-button .md-button md-switch ._md-bar {
    background-color: #44707b;
}
/* search results */
/* title link */
/* this seemed way to bright; prm-brief-result .item-title span {
    color: #0579b8;
} */
/* ava line */
[class*="available"] > span, [class*="unavailable"] > span , [class*="check_"] > span {
    color:#44707b;
}
/* for "how to get it */
[class*="no_"] {
    color:#44707b;
}
/* for: check holdings */
[class*="check_"], [class*="_unknown"], [class*="may_"], [class*="does_not_exist"]  {
    color:#716F6F;
}

prm-search-result-availability-line span {
    white-space: normal;
    display: inline;
    color: #44707b;
}
/* page navigation search results */
prm-page-nav-menu .counter-main md-fab-trigger .md-button {
    box-shadow:5px 0 5px -3px rgba(0,0,0,.5), -5px 0 5px -3px rgba(0,0,0,.5);
    color:#0579b8;
}
prm-page-nav-menu .counter-nav prm-icon md-icon svg {
    color:#0579b8;
}
/* page navigation browse search */
prm-page-nav-menu .page-nav-inner:after {
    box-shadow:0 1px 3px -1px rgba(0,0,0,.7), 0 0 20px 0 rgba(0,0,0,.7);
}
/* facets */
/* active filters */
prm-facet prm-breadcrumbs .md-chips .md-chip {
    background-color:#f3f3f3;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.2), 0 5px 5px -3px rgba(0,0,0,.2);
}
prm-search-result-sort-by {
    margin-bottom:5px;
}
/* facet counts in parens */
.section-content .md-chips .md-chip .md-chip-content {
	color:#6E6868;
}
/* date facet */
prm-facet-range {
    font-size:130%;
}
prm-facet-range md-input-container {
    margin-right:10px;
    
}
input[aria-label="From date"] ,input[aria-label="To date"] {
    padding:5px;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
    background-color: white;
    max-width:70px;

}
input[aria-label="From date"]::-webkit-inner-spin-button,input[aria-label="From date"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}
input[aria-label="To date"]::-webkit-inner-spin-button,input[aria-label="To date"]::-webkit-outer-spin-button {
    -webkit-appearance: none; 
    margin: 0; 
}
/* brief results */
prm-search-result-thumbnail-container .fan-img:first-of-type {
    background-color:#FFF;
    transform: translate3d(-12px,12px,0) scale3d(.8,.8,1);
}
prm-search-result-thumbnail-container .fan-img:nth-of-type(2) {
    background-color:#FFF;
    transform: translate3d(-2px,6px,0) scale3d(.8,.8,1);
}
prm-search-result-thumbnail-container .fan-img:nth-of-type(3) {
    background-color:#FFF;
}
/* full display page */
/* ava line at top */
prm-full-view div.full-view-container prm-full-view-service-container prm-search-result-availability-line {
    display:block;
}
/* action list */
button#textsms {
    font-size: 10px;
    line-height: 14px;
    font-weight: 600;
    letter-spacing: 0.03em;
    color: rgba(58,58,58,.8);
}
button#textsms:hover {
    color: #0579b8;
}
md-card#textsms {
    background-color:#f8f8f8;
}
md-card#textsms md-input-container {
    margin-left:30px;
    font-size:18px;
    padding-bottom:10px
}
md-card#textsms md-list#smsLocation {
    margin-left:20px;
}
p.textsms-danger {
    color:red;
    padding-bottom:10px;
}
/*md-card#textsms md-list#smsLocation md-list-item {
    background-color:#fff;
    padding:10px;
    line-height:14px;
}


#textsms .button-text {
    font-size:10px;
    line-height:14px;
    font-weight:600;
    cursor: pointer;
}

#textsms:hover {
    background:#e1e1e1;
    color:rgba(58,58,58,.8)
}


#textsms .row:hover {
    background:#e1e1e1;
    color:rgba(58,58,58,.8)
}*/
/* browse result */
prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item .item-title, md-list.prm-list.prm-linkable-list-items md-list-item .item-title {
    /* color:#0579b8; */
}
prm-browse-search-bar md-input-container {
    line-height:1.2;
}
prm-browse-search-bar md-input-container>md-select {
    color:#026DB9;
    font-weight:bold;
}
prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item ._md-list-item-inner {
    background-color:#fff;
    border-bottom:1px solid #b8babb;
    padding: 0em 0.2em;
    /* color:#0579b8; */
}
prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item>.md-button > a {
    /* color:#0579b8; */
    color:#44707b;
}
prm-browse-search md-list.prm-list.prm-linkable-list-items md-list-item>.md-button > a:hover {
    color:#0579b8;
    text-decoration: underline;
    /* background-color:#f3f3f3; */
    opacity:.5;
    border-bottom:2px solid #0579b8;
}
prm-browse-search md-list.prm-list.prm-linkable-list-items.prm-dense-list md-list-item .item-title prm-highlight > span:hover {
    color:#0579b8;
}
/* prm-browse-result md-list-item prm-highlight:hover {
    text-decoration:underline;
} */
/* my account */
prm-account-overview md-input-container md-select {
    padding:5px;
    border-radius: 3px;
    border: 1px solid transparent;
    border-top: none;
    border-bottom: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.39), 0 -1px 1px #FFF, 0 1px 0 #FFF;
}
/* my personal details after login, hide checkboxes since we don't allow changes */
prm-personal-info md-card#personalDetails md-checkbox {
    display:none;
}
/* frbr groupid clustering */
prm-search-result-thumbnail-container img.fan-img-2[src="custom/HVD2/img/icon_versions.png"] {
    display:none;
}
prm-search-result-thumbnail-container img.fan-img-3[src="custom/HVD2/img/icon_versions.png"] {
    display:none;
}
 div.md-chip > div > strong[translate="facets.facet.facet_frbrgroupid"] {
    //background-color:red;
    //font-size:150%;
    //color:#026DB9;
    //margin:10px 10px;    
} 
prm-breadcrumbs .md-chip.wrapping-chip .md-chip-content strong[translate="facets.facet.facet_frbrgroupid"] {
    padding-left:10px;
} 
/* hide x after groupid remove facet label; DON'T DO THIS. The X is the only part that's actionalbe; need it to be able to execute return */
/* button[aria-label*="Return to search results"] prm-icon md-icon.md-primoExplore-theme svg {
    display:none;    
}  */
button[aria-label*="Versions"] prm-icon md-icon.md-primoExplore-theme, button[aria-label*="versions"] prm-icon md-icon.md-primoExplore-theme {
    //border:solid 5px #026DB9;
    background-color:rgb(181, 96, 1);
    padding:2px;
    width:30px;
    height:30px;
    //box-shadow: 0 1px 0 0 rgba(0,0,0,.2), 0 5px 5px -3px rgba(0,0,0,.2);
    border-radius: 1.2em;
    overflow: hidden;
} 
button[aria-label*="Versions"] prm-icon md-icon.md-primoExplore-theme svg, button[aria-label*="versions"] prm-icon md-icon.md-primoExplore-theme svg {
    //height:10px;
    //width:10px;
   color:white;
   //font-size:150%;
}  
/* this handles the weird white hover that seems to happen for no reason */
prm-breadcrumbs .md-chips .md-chip-content:focus:before, prm-breadcrumbs .md-chips .md-chip-content:hover:before {
    opacity:0;
} 
/* icon in front of remove groupid list */
/* prm-breadcrumbs .md-chips .md-chip-content:before {
 content:"<---";
 color:red;
} */