prm-breadcrumbs .md-chip.wrapping-chip .md-chip-content strong
{    
    padding-left: 30px;
}

prm-breadcrumbs .md-chips .md-chip-content .persistence-button {
    opacity: 1; transform: none; padding-left: -2px;
}

prm-breadcrumbs .md-chip.persistent-facet strong {
    padding-left: 0;
}

prm-breadcrumbs .md-chip.persistent-facet .md-chip-content .persistence-button {
    left: -2px;
}

prm-breadcrumbs .md-chips .md-chip-content .persistence-button prm-icon.show-on-hover {
    position: absolute;
    top: 5px;
    left: 9px;
}




