
md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    opacity: 1.0;
    color: #000000;
    transform: translate3d(0,6px,0) scale(.85);
}