#briefResultAfterFindingAid {
    margin:0px;
    padding:0px;
    padding-bottom:10px;
    background-color: #fff;
    vertical-align: middle;
}
prm-brief-result-container-after {
    background-color: #f3f3f3;
}
#briefResultAfterFindingAid:hover {
    background-color: #f3f3f3;
}
#briefResultAfterFindingAid a {
    color:#44707b;
}
#briefResultAfterFindingAid > .layout-row > .flex-* {
    padding:0px;
    margin-top:0px;
}
#briefResultAfterFindingAid > .md-button {
    margin:0px !important;
}
#briefResultAfterFindingAid > .spaceLeft {
    padding-left:5px;
}
#briefResultAfterFindingAid > .marginLeftFindingAid {
    padding-left:100px;
}
#briefResultAfterFindingAid > .marginLeftFindingAid2 {
    padding-left:140px;
}
#briefResultAfterFindingAid > .spaceLeft40 {
    padding-left:45px;
}
#briefResultAfterFindingAid > .folder {
    font-size: 36px;
    color: #7b8995;
}

/* .whitebg {
    background:#ffffff;
} */

/* prm-brief-result-container.list-item:hover {
    background:#ffffff;
} */