.customMap {
    height:200px;
    width:auto;
}

.iconHome {
    width:16pt;
    height:16pt;
}

.iconMapFontSize {
    font-size:16pt;
    font-weight: bold;
}
.full-view-hathitrust {
    color: #087B00;
}
