
.barcode {
    background:#ffffff !important;
    position: relative !important;
    top:-10px !important;
    padding-left:20px;
    padding-right:10px;
    margin-left:1px;
    margin-right:1px;
    padding-top:20px;
    padding-bottom:20px;
}

.barcode > md-input-containter {
    width:100%;
}

.barcode > .full-width {
    width:200px;
    border:1px solid #ff0000;
}

.barcode > .error {
    color:#ff0000;
    padding-bottom:20px;
    padding-top:10px;
}

.barcodeError {
    color:#ff0000;
}

.barcodeResult {
    background:#efefef;
    padding:10px;
}
.barcodeResult:hover {
    background:#ffffff;
}

.barcodeResult:focus {
    background:#ffffff;
}


.barcodeSpacer {
    margin-left:20px;
}

.barcodeCounter {
    color: #cccccc;
    font-size:90%;
}

.pointer {cursor: pointer;}