prm-search-bar > div:first-child > div:first-child > div:first-child {
    display: block;
}

prm-skip-to {
    display: none;
}

div.product-logo {
    display: none;
}

@media only screen and (max-width: 1280px) {
    #hlLogoHeader {
        display: none;
    }
}

