.browse-button {
    position: relative;
    margin-top:22px;
    margin-left:0px;
}


prm-browse-search-bar {
    background-color:#383838;
}

prm-browse-search-bar > button.submit-button {
    color:#a51c30 !important;
}

prm-browse-search-bar .simple-btn {
    color:#ffffff;
    margin-top: 10px;
    margin-left: 20px;
}

prm-browse-search-bar button.md-button.simple-btn:hover {
    color:#efefef !important;
}

/* magnify glass search in search box */
#magnifying-glass {
    color:#a51c30 !important;
}


@media only screen and (max-width: 900px) {
    .browse-button {
        margin-top:30px;
    }

}
