<div id="aeon">
<div class="{{vm.msg.class}}">
    <div layout="row" layout-align="start center" class="banner">
        <div>
            <img src="/primo-explore/custom/HVD2/img/hlShield.png" alt="Harvard Shield"/>
        </div>
        <div class="logo">
            <img src="/primo-explore/custom/HVD2/img/HOLLISLogov.png" alt="Hollis Logo"/>
        </div>
        <div>

        </div>
    </div>

    <div layout="row" class="loading">
        <prm-spinner ng-if="vm.ajaxLoader" class="default-loader dark-on-light overlay-cover no-text" layout="row" layout-align="center center"></prm-spinner>
    </div>

    <h1>Special Collections Request</h1>
    

    <div class="box" ng-if="vm.holdingItems.length > 0 && vm.dataList.recordsFound">
        <!-- <h2>Please note that at this time we can only display up to 100 items per holding.</h2> -->
        <p>If the item you're looking for does not appear on this list please <a href="https://aeon.hul.harvard.edu/logon?Action=10&amp;Form=21">fill out the form</a> manually.  </p>

        <div ng-repeat="data in vm.holdingItems track by $index" tabindex="-1">
            <md-divider class="md-primoExplore-theme divider"></md-divider>
            <div class="row">
                <div class="col1" ng-if="vm.holdingItems.length > 1">
                    <div class="badgeIcon">{{$index+1}}</div>
                </div>
                <div class="col2">
                    <div class="title">{{data.libraryDesc}} {{data.locationDesc}} {{data.callNumber}}</div>
                    <div ng-repeat="field in data.marc21slim.dataFields |orderBy:'label' track by $index">
                        <div class="space">
                            <label class="bold-text">{{field.label}}:</label>
                            <span ng-repeat="sub in field.subFields track by $index">
                                {{sub.a}} {{sub.value}}
                            </span>
                        </div>
                    </div>
                    <div class="select-one">SELECT ONE:</div>
                    <div class="gridBox">
                        <div class="gridRow" ng-repeat="item in data.items |orderBy:'description' track by $index" tabindex="0" autofocus=true (click)="vm.goto(data,item)" (keypress)="vm.pressLink($event,data,item)"  title="Choose one">
                            <span ng-if="item.description">{{item.description}}</span>
                            <span ng-if="!item.description">Place request</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="errorBox" ng-if="vm.holdingItems.length===0">

        <p  ng-if="vm.dataList.recordsFound===false" class="space20">
            We're sorry but this particular item cannot be requested via HOLLIS, but you may <a href="https://aeon.hul.harvard.edu/logon?Action=10&amp;Form=21">fill out the form</a> manually.         </p>
        <p  ng-if="vm.dataList.recordsFound===false" class="space20">
            Please <a href="https://ask.library.harvard.edu" class="bold-text" target="_blank" title="Ask a Librarian for assistance" tabindex="0">Ask a Librarian</a> if you would like assistance.
        </p>
        <p ng-if="vm.msg.error" class="space20">
            We're sorry but this particular item cannot be requested via HOLLIS. For access, please contact the library that owns the material.
            
            <!-- <br/> <br/><strong>Known problem with Firefox: </strong> If you are using Firefox and received this error, please leave this tab open, return to the HOLLIS tab, and click the link again. This should resolve the error. --> 
            <br/> <br/>
            If you believe this is an error, you may also <a href="https://aeon.hul.harvard.edu/logon?Action=10&amp;Form=21">fill out the form</a> manually.  
        </p>
        <p ng-if="vm.msg.error" class="space20">
            Please <a href="https://ask.library.harvard.edu" class="bold-text" target="_blank" title="Ask a Librarian for assistance" tabindex="0">Ask a Librarian</a> if you would like assistance.
        </p>

    </div>
</div>
</div>
